@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

/* Pointer none (cursor-none) */
/* * {
    cursor: none !important;
} */

.custom-cursor {
    position: fixed;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    pointer-events: none;
}

@media only screen and (max-width: 700px) {
    body .cursor {
        display: 'none';
    }
}
