/* :root {
    --bg: white;
    --bgSoft: #f5f5f5;
    --text: black;
    --textSoft: gray;
    --btn: black;
    --btnText: white;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    .text-gradient {
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: linear-gradient(
            90deg,
            var(--tw-gradient-from),
            var(--tw-gradient-to)
        );
    }
    .text-gradient-dark {
        /* From blue-600 to blue 900 */
        --tw-gradient-from: #2563eb;
        --tw-gradient-to: #3b82f6;
    }
    .text-gradient-light {
        --tw-gradient-from: #0033a0; /* Starting color */
        --tw-gradient-to: #00a3ff; /* Ending color */
    }

    .fa-gradient {
        background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(#06b6d4),
            to(#3b82f6)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.shadow {
    @apply shadow-[0_12px_24px_-6px_rgba(45,67,121,0.1)];
}
